.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__left{
    display: flex;
    flex: 0.5;
    min-width: 115px;
    align-items: center;
    padding: 10px;
    background: #fff;
    color: gray;
    border-radius: 30px;
}

.header__left > input{
    border: none;
    width: 100%;
    min-width: 70px;
}
.header__right{
    display: flex;
    align-items: center;
}

.header__right > h4 {
    margin-left: 10px;
}