.sidebar{
    height: 100vh;
    flex: 0.2;
    background: #040404;
    color: #fff;
    min-width: 230px;
    padding: 0 10px;
}

.sidebar__logo{
    margin: 0 auto;
    padding: 10px;
    height: 70px;
}

.sidebar__title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}